.vscode
.pytest_cache
db
payu.txt
rundb.bat
heroku
back/.pytest_cache
back/shop
back/src/__pycache__
back/src/.pytest_cache
back/src/htmlcov
back/src/.coverage
back/src/.coveragerc
back/src/app/__pycache__
back/src/app/admin/__pycache__
back/src/app/admin/routers/__pycache__
back/src/app/api/__pycache__
back/src/app/api/routers/__pycache__
back/src/app/tests/__pycache__
front/.parcel-pytest_cache
front/node_modules